
  <mat-sidenav-container >
    <mat-sidenav #sidenav opened mode=side> 
      <mat-nav-list>
  
        <a mat-list-item > Kundendaten </a>
        <a mat-list-item > Verkauf </a>
        <a mat-list-item > Versand </a>

        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
    Verkauf und Versand-was ein scheiß
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>